@media only screen and (max-width:600px){
    /*
    media query for mobile and less than desktop 
    */
    *{
        
        padding: 0;
        /* background-color: tomato; */
    }
    body{
        font-family: sans-serif;
        letter-spacing: 1px;
        padding: 0 10px 100px 10px;
    }
    .name,.email, .phno {
        text-align: center;       
    }
    .email a{
        margin-top: 15px;
        text-decoration: none;
    }
    .phno a{
        text-decoration: none;
    }
    .phno a:hover{
        background-color:rgba(0,0,254,0.5);
        color: white;
        padding: 7px;
        border-radius: 15px;
        text-decoration: none;
    }
    .email a:hover{
        background-color: rgba(0,0,254,0.5);
        color: white;
        padding: 7px;
        border-radius: 15px;
    }
    .email img{
        width: 50px;
        height: 50px;
        position: relative;
        top: 15px;
        
    }
    .phno img{
        width: 50px;
        height: 40px;
        position: relative;
        top: 10px;
    }

    .left .profile .profileimage{
        position: relative;
        width: 15vh;
        height: 15vh;
        background-color: gray;
        left: 35%;
        border-radius: 50%;
    }
    .link{
        position:fixed;
        bottom: 0px;
        background-color: white;
        padding: 20px 0 30px 0;
        width: 100%;
    }
    .link a{
        font-size: 13px;
        display: inline;
        text-decoration: none;
        font-weight: 500;
        padding-left:10px ;
        
    }
    .link a:hover{
        background-color: blue;
        color: white;
        padding: 5px;
        text-align: center;
        border-radius: 5px;
        
    }
    #exprience:target{
        background-color: blue;
        color: white;
    }
    #professionalskill:target{
        background-color: blue;
        color: white;
    }

    #workhistory:target{
        background-color: blue;
        color: white;
    }

}



@media only screen and ( min-width: 600px ) {
   
/*
media query for desktop
*/


 body{
    background-color: white;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    text-shadow: 6px 6px 12px black;
    
}
/* .profile{
    background-color:rgba(0,0,0,0.2);
    width: 200px;
    height:200px ;
    border-radius: 50%;
    position: relative;
    left: 25%;
    margin-top: 10px;
}
.profileimage{
    position: relative;
    top: 25%;
    left: 25%;
    translate: (-50%,-50%);
} */
.left .profile .profileimage{
    background-color:rgba(0,0,0,0.2);
    width: 200px;
    height:200px ;
    border-radius: 50%;
    position: relative;
    left: 15%;
    margin-top: 10px;
    translate: (-50%,-50%);
    box-shadow: 0 20px 20px 0 rgba(0,0,0,0.3);
}
.link{
    position:sticky;
    top: 10px ;
}
.link a{
    display: block;
    position: relative;
    text-decoration: none;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 23px;
    top: 50px;
    padding-top: 40px;
}
.link a:hover{
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    color:black;
    box-shadow: 0 20px 20px 0 rgba(0,0,0,0.3);
    border: 1px solid rgba(254,254,254,0.3);
    padding: 20px 0 20px 0;
    border-radius: 25px;
    text-shadow: 5px 12px 12px white;
}
#mailid,#phno a{
    
    text-decoration: none;
}
#mailid:hover{
    background-color: rgba(0,0,0,0.2);
    color: black;
    padding: 0px 0 5px 0;
    border-radius: 10px;
    text-shadow: 5px 12px 12px white;
    box-shadow: 0 20px 20px 0 rgba(0,0,0,0.3);
}
.email img{
    width: 50px;
    height: 50px;
    position: relative;
    top: 15px;
    
}
.phno img{
    width: 50px;
    height: 40px;
    position: relative;
    top: 10px;
}
.container{
    display: flex;
    
}
.right{
    position: relative;
    width: 70%;
    

    padding-left: 10px ;
}
.left{
    position: relative;
    width: 30%;
    padding-left: 10px;
    
    
} 

}